<!--
 * @Author: Chris
 * @Date: 2021-01-06 09:50:06
 * @LastEditors: Chris
 * @LastEditTime: 2021-01-06 11:11:58
 * @Descripttion: **
-->
<!--[if !IE]> -->

<script type="text/javascript">
  window.jQuery ||
    document.write(
      "<script src='{{__ROOT__}}/admin/assets/js/jquery-2.0.3.min.js'>" + "<" + "script>"
    );
</script>

<!-- <![endif]-->

<!--[if IE]>
  <script type="text/javascript">
    window.jQuery ||
      document.write(
        "<script src='assets/js/jquery-1.10.2.min.js'>" + "<" + "script>"
      );
  </script>
<![endif]-->

<script type="text/javascript">
  if ("ontouchend" in document)
    document.write(
      "<script src='{{__ROOT__}}/admin/assets/js/jquery.mobile.custom.min.js'>" + "<" + "script>"
    );
</script>
<script src="{{__ROOT__}}/admin/assets/js/bootstrap.min.js"></script>

<!-- ace scripts -->

<script src="{{__ROOT__}}/admin/assets/js/ace-elements.min.js"></script>
<script src="{{__ROOT__}}/admin/assets/js/ace.min.js"></script>
